# all this data is a sample, not real passwords but examples to show password lengths

#Postgres Container
POSTGRES_USER=user
POSTGRES_PASSWORD=6yLoqYpcdagi9Dde
POSTGRES_DB=khclicker

#Nuxt User Session
NUXT_SESSION_PASSWORD=DyLbyF8Q85MM95nkHAGATP9FAdXfqJRt
NUXT_OAUTH_GOOGLE_CLIENT_ID=856779776665-DyLbyF8Q85MM95nkHAGATP9FAdXfqJRt.apps.googleusercontent.com
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=POVJNR-4JNeRt5BTnXeETQ-Lj6YpBdEKqQ-

#API key
APP_API_KEY=khcl_nGep65ch5BLm6yGagmPa3xC5JrAzKMkD

#Dirs for ipx and images storage
ASSETS_STORAGE_DIR=/app/.data